<div class="container text-center">
  <h1 class="my-4">本当に退会しますか？</h1>
  
  <p>退会すると、会員登録情報や</p>
  <p>これまでの購入履歴が閲覧できなくなります。</p>
  <p>退会する場合は、「退会する」をクリックしてください。</p>

  <div class="d-flex justify-content-center mt-5">
  <%= link_to "退会しない", customers_my_page_path, class: "btn btn-primary ms-3" %>
  <div class="custom-gap"></div>
  <%= link_to "退会する", customers_withdraw_path, method: :patch, :class => "btn btn-danger ms-3", data: { confirm: "本当に退会しますか？" }  %>
  </div>
</div>