<div class="container">
<h1>商品一覧</h1>
<%= link_to "商品新規登録", new_admin_item_path,class:"fa-solid fa-circle-plus"%>
<table class="table">
 <tr>
  <td>商品ID</td>
  <td>商品名</td>
  <td>税抜価格</td>
</tr>
<% @item.each do |item| %>
  <tr>
  <td><%= item.id %></td>
  <td><%= link_to item.name,admin_item_path(item.id) %></td>
  <td><%= item.price %></td>
  </tr>
  <% end %>
  </table>
  </div>