<h1>商品一覧</h1>
  <% @items.each do |item| %>
　<%= image_tag item.image, size: "200x200" %>
  <p>商品名</p>
  <%= link_to item.name,admin_item_path(item.id) %>
  <p>税抜価格</p>
  <div><%= item.price %></div>
  <% end %>